{% extends "shop/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <nav>
        <div>
            <div>
                <div>
                    <div>
                        
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <h2>{% for item in items %}
        <a href="{% url 'shop:detail' item.id %}">
           Имя: {{ item }}
        </a>
        {% endfor %}
    </h2>
</body>
{% endblock %}
</html>